*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: #153243;
  width: 100%;
}

.nav__brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #fff;
}

.nav__toggler {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
  }
  .nav__menu {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50%;
    height: 92vh;
    background-color: #ede7dc;
    flex-direction: column;
    transform: translateX(100%);
    justify-content: start;
    padding-top: 10px;
  }
}

.nav__active {
  transform: translateX(0);
}
