.record-log-article {
    display: block;
    font-size: 1.2em;
    text-align: left;
    width: 100%;
    /* background-color: #fbfaf8; */
    background-color: #e1dacb;
    border-color: black;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-bottom: 0.5em;
}

.view-record-label {
    width: 150px;
    font-weight: 500;
    font-size: 1.2em;
    white-space: nowrap;
    display: inline-block;
    padding: 0.1em 0.6em 0.1em 0.6em;
}

.view-record-span {
    color: black;
    font-size: 1.2em;
    margin-left: 1em;
    text-align: right;
    display: inline-block;
    white-space: nowrap;
    /*background-color: whitesmoke;*/
    padding: 0.1em 0.6em 0.1em 0.6em;
    border-radius: 1em;
  }

.view-record-list-item {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 100%;
    margin: 0.5em 0em 0.5em 0em; 
    /* background-color: #fbfaf8; */
    background-color: #e1dacb;
    padding: .2em .2em;
}

.view-record-log-label {
    width: 100%;
    font-weight: 500;
    font-size: 1.2em;
    white-space: nowrap;
    display: inline-block;
    padding: 0.1em 0.6em 0.1em 0.6em;
}

.view-record-log-li{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    width: 100%;
    margin: 0.5em 0em 0.5em 0em; 
    /* background-color: #fbfaf8; */
    background-color: #e1dacb;
    padding: .2em .2em;
}

@media screen and (max-width: 500px) {
    .view-record-list-item {
      flex-direction: column;
    }
    .view-record-label {
      width: 100%;
      text-align: left;
    }
    .view-record-span {
        width: 100%;
        text-align: left;
        margin-left: 0px;
    }
    .view-record-log-label {
        width: 100%;
        text-align: left;
      }
      .record-log-article {
          width: 100%;
          text-align: left;
          margin-left: 0px;
      }
    .registration-input {
      width: 100%;
    }
    .registration-button {
      margin-left: 0%;
    }
  }