/* add_remove_patient_component */

.add-patient-button {
    background-color: #32CD32;
    display: inline;
    color:#000000;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
  }
  
  .remove-patient-button {
    background-color: #FF0000;
    display: inline;
    color:#000000;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
  }
  
  .add-remove-patient-id-label {
    color: #000000;
    font-weight: 500;
    font-size: 1.2em;
    margin-right: 0.2em;
    display: inline;
  }
  
  .add-remove-patient-id-input {
    background-color: #FFFFFF ;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 0.3em 0.2em 0.3em;
    color: #000000;
    display: inline;
    width: 40%;
  }