/* add_record_panel component */

.add-record-label {
    color: #000000;
    font-weight: 500;
    font-size: 1.2em;
    display: inline-block;
    text-align: right;
    width: 150px;
    margin-right: 15px;
    vertical-align: top;
    overflow-wrap: break-word;
  }
  
  .add-record-select {
    background-color: #FFFFFF ;
    width: 40%;
    margin-left: 0.7em;
    border-radius: 1em;
    padding: 0.2em 0.3em 0.2em 0.3em;
    color: #000000;
  }
  
  .add-record-input {
    background-color: #FFFFFF ;
    width: 50%;
    padding: 0.2em 0.3em 0.2em 0.3em;
    color: #000000;   
  }
  
  .add-record-textarea {
    width: 80%;
    height: 10em;
    background-color: #FFFFFF ;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #000000; 
  }
  
  .add-record-div {
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
  }
  
  .add-record-button {
    color: #FFFFFF;
    background-color: #153243;
    padding: 0.5em 2em 0.3em 2em;
    height: 40px;
    margin-left: 165px;
    overflow-wrap: break-word;
  }

  @media screen and (max-width: 500px) {
    .add-record-div {
      flex-direction: column;
    }
    .add-record-label{
      text-align: left;
    }
    .add-record-button {
      margin-left: 0px;
    }
  }