.background-image {
    background-image: url('../assets/homepage.jpg');
    background-size:cover;
    background-repeat:no-repeat;
   
    height:100vh;
    }

    *{
        margin: 0;
        padding: 0;
    }

    .content h1 {
        font-weight: bold;
        font-size: 50px;

      }
    .content{
        width: 100%;
        position: absolute;
        top: 30%;
        text-align: center;
    }
    .content p {
        font-weight: bold;
        font-size: 16px;
      }

    .home-button{
        width:10%;
        padding: 15px 0;
        text-align: center;
        margin-top: 1%;
        border-radius: 25px;
        font-weight:bold;
        color:#fff;
        cursor: pointer;
        background-color: #153243;
        margin-left: 45%;
    }

    .homepage-button-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }